@import url(http://fonts.googleapis.com/earlyaccess/notosansjapanese.css);

.center-content{
  margin:0 auto;
  text-align: center;
}

.index_wrapper{
  width:900px;
  margin:0 auto;
  text-align:center;
}

.index_wrapper_small{
  width:700px;
  margin:0 auto;
  text-align:center;
}

span#gray{
  background-color:rgba(0,0,0,0.7);
}

span#yellow{
  background-color:yellow;
  color:#333;
}

span#pink{
  padding:5px 20px;
  border-radius: 20px;
  color:#de3348;
  font-weight: bold;
}

#news-date {
  font-size: 12px;
  color: #7d7d7d;
  margin: 0 10px;
}

.head_main video{
  margin-left: 0;
  margin-right: 0;
  margin-top: -200px;
  padding-top:0;
  z-index:-10;
  height: 50%;
}

.head_main{
  background: url('../images/top.mp4') bottom no-repeat;
  background-size:cover;
  position:relative;
}

.lines {
  background-image: url(../images/video-bg.png);
  width: 100%;
  z-index:2;
  top: 0;
  left: 0;
  position:absolute;
}

.head_main_2{
  clear:both;
  height:400px;
  background-color:#bbe;
  background-image: url('../images/bg2m.jpg');
  background-repeat: no-repeat;
  background-size:cover;
  background-position:bottom;
}

.head_main_catch{
  font-family:'Noto Sans Japanese';
  padding-top:150px;
  color:#fff;
  font-size:35px;
}

p.head_main_catch-inner{
  font-family:'Noto Sans Japanese';
  position: absolute;
  bottom: 240px;
  z-index: 2;
  width: 100%;
  text-align: center;
  font-size: 35px;
  color: #fff;
  line-height: 65%;
  letter-spacing: 4px;
}

p.head_main_catch-inner-small{
  font-family:'Noto Sans Japanese';
  position: absolute;
  bottom: 200px;
  z-index: 2;
  width: 100%;
  text-align: center;
  font-size: 20px;
  color: #fff;
  line-height: 65%;
  letter-spacing: 4px;
}

.head_main_catch_small{
  color:#fff;
  font-size:20px;
  margin-top:10px;
}

a#index_button{
  display:block;
  border:solid 1px #fff;
  margin-top:30px;
  padding:8px 10px;
  width:150px;
  text-align:center;
  color:#fff;
  font-size:15px;
}

a#index_button:hover{
  background-color: #fff;
  color:#333;
}

.erabareru table{
  width:100%;
}

.erabareru table td{
  width:24%;
}

.erabareru table td#midashi{
  font-size:22px;
  color:#888;
  text-align:center;
  padding:10px 10px;
}

#midashi img{
  width:100px;
}

.erabareru table td#article{
  padding:10px;
  vertical-align: top;
}

.erabareru img{
  width:100%;
}

.erabareru p{
  font-size:18px;
  line-height: 23px;
}

.red-area{
  width:100%;
  height:max-content;
  background:repeating-linear-gradient(135deg,#de3348,#de3348 30px,#de4050 30px,#de4050 60px);
  height:800px;
  padding-top:20px;
  padding-bottom: 50px;
  color:#fff;
  text-align: center;
}

/*サブタイトル*/
#koumoku {
  font-size:30px;
  padding:80px 0;
  background-color: #ff00dd;
  text-align: center;
  color:#fff;
}

#koumoku-white {
  border-left:solid 7px #fff;
  font-size:23px;
  padding:15px 0 15px 30px;
  margin-bottom:10px;
  color:#fff;
}

#contentsLeft{
  float:left;
  width:500px;
  font-size:18px;
}

#contentsLeft p{
  line-height: 23px;
}

#contentsRight{
  float:right;
  width:450px;
}

.buttonWrapper{
  clear:both;
  width:400px;
  margin:0 auto;
}

.spot-1{
  border:2px #de3348 solid;
  border-radius:10px;
  font-size:25px;
  color:#333;
  padding:15px 0;
  width:600px;
}

.mark-cross{
  font-size:50px;
  color:#777;
  padding:10px 0;
}

a#freeLectureButton{
  display:block;
  width:390px;
  background-color: #0099cc;
  /*
  background: -moz-linear-gradient(top,#0099CC 0%,#006699);
  background: -webkit-gradient(linear, left top, left bottom, from(#0099CC), to(#006699));
  */
  font-size:25px;
  color:#fff;
  padding:25px 0px;
  text-align:center;
  border-radius:8px;
  border:solid 2px #bbe;
}

a#freeLectureButton:hover{
  background-color:#99cc00;
}


.newsArea{
  padding-bottom: 50px;
  padding-top:30px;
  margin-left:20%;
}

.newsArea h1{
  color:#000;
}

#newsList{
  width:700px;
  height:200px;
  border:solid 1px #aaa;
  overflow:scroll;
}

#newsList ul{
  padding-left:20px;
}

#newsList li{
  display:block;
  width:98%;
  padding:10px 0;
  border-bottom:dotted 1px #bbb;
}

a#press{
  font-size:13px;
  color:#fff;
  padding:3px 10px;
  background-color:#185b87;
  margin-right:10px;
  border-radius:2px;
}

/*更新箇所*/
#hajimeru_obi{
  padding-top:20px;
  padding-bottom:20px;
  width: 100%;
  text-align:center;
  background-color:#de3348;
  z-index: 3;
  margin-top:30px;
  font-weight: 900;
  font-family: cursive;
}

#hajimeru_obi p{
  font-size: 30px;
  color:#fff;
}

#toha_obi{
  padding-top:20px;
  padding-bottom:20px;
  width: 100%;
  text-align:center;
  background-color:#555;
  z-index: 3;
  margin-top:30px;
  font-weight: 900;
  font-family: cursive;
}

#toha_obi p{
  font-size: 30px;
  color:#de3348;
}
#toha2{
  background-color: #de3348;
  padding-top: 40px;
  padding-bottom: 40px;
}
#toha2 p{
  text-align: center;
  font-size: 20px;
  color:#fff;
  margin: 0;
}

#kyoutyo{
  color: #de3348;
}
.supatre_toha{
  width:100%;
  background: #fff;
  color:#000;
}
.supatre_toha p{
  font-size: 15px;
}

#tokutyo_obi{
  padding-top:20px;
  padding-bottom:20px;
  width: 100%;
  text-align:center;
  background-color: #999;
  z-index: 3;
  margin-top:30px;
  font-weight: 900;
  font-family: cursive;
}

#tokutyo_obi p{
  font-size: 30px;
  color:#fff;
}

.tokutyo{
  width: 100%;
  background-color:#eee;
}

.tokutyo table{
  width:100%;
  border-spacing : 5px 2px;
  border-collapse : separate ;
}

.tokutyo table td{
  width:31%;
  background-color: #fff;
}

.tokutyo table td#subtitle{
  background-color:#fff;
  font-size:18px;
  text-align:center;
  padding:10px 15px;
  color: #424242;
  font-family: serif;
}

.tokutyo img{
  width:100%;
}

td#article{
  padding-top:0;
  float:top;
  vertical-align: baseline;
}

.tokutyo p{
  font-size:15px;
  padding:10px;
  vertical-align: top;
  line-height: 23px;
  color: #3c3c3c;
}
#mou_obi{
  padding-top:20px;
  padding-bottom:20px;
  width: 100%;
  text-align:center;
  background-color: #777;
  z-index: 3;
  color:#00bb00;
}

#moji_button{
  color:#00bb00;
}
#moji_button:hover{
  color:#B6FF01;
}

#riyu_obi{
  padding-top:20px;
  padding-bottom:20px;
  width: 100%;
  text-align:center;
  background-color: #00bb00;
  z-index: 3;
  font-weight: 900;
  font-family: cursive;
}


#riyu_obi p{
  font-size: 30px;
  color:#fff;
}

table.compare{
  width: 100%;
  table-layout:fixed;
}

.compare {
  border-collapse: collapse;
}

.compare th{
  font-size:16px;
  padding: 10px 10px;
  width:100px;
  background:#777;
  color:white;
  border:solid 1px #fff;
}

.compare td {
  text-align: center;
  font-size:14px;
  padding:10px 20px;
  width: 230px;
  border-left: 2px solid #fff;
  border-top: 2px solid #fff;
}

td#kijun{
  font-size:16px;
  padding: 10px auto;
  background-color:#777;
  color:#fff;
}

.compare tr:nth-child(2n) {
  background: #ccff99;
}

.compare tr:nth-child(2n+1) {
  background: #ccff44;
}

tr#hyou_supa{
  border: 5px #de3348 solid;
  font-weight: 900;
  font-family: monospace;
}

#hyou_supa p{
  font-size: 20px;
}

#plan_obi{
  padding-top:20px;
  padding-bottom:20px;
  width: 100%;
  text-align:center;
  background-color: #ddd;
  z-index: 3;
  font-weight: 900;
  font-family: cursive;
}

#plan_obi p{
  font-size: 30px;
  color:#555;
}

#plan_mae{
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100%;
  text-align:center;
  background-color: #00bb00;
  z-index: 3;
}
#plan_mae p{
  font-size: 15px;
  color:#fff;
  margin: 0;
}

.plan{
  padding-top:40px;
  padding-bottom: 40px;
  text-align: center;
  background-color: #fff;
}

.plan table{
  width:100%;
  border-collapse: collapse;
  text-align: center;
}

.plan td{
  width:24%;
  background-color: #ccff44;
  border-right: 10px #fff solid;
  border-left: 10px #fff solid;
}

#plan_namae{
  border-top-right-radius: 50px;        /* CSS3草案 */
  -webkit-border-radius-top-right: 50px;    /* Safari,Google Chrome用 */
  -moz-border-radius-top-right: 50px;   /* Firefox用 */
  border-top-left-radius: 50px;        /* CSS3草案 */
  -webkit-border-radius-top-left: 50px;    /* Safari,Google Chrome用 */
  -moz-border-radius-top-left: 50px;
  padding-top: 30px;
  text-align: center;
  font-size: 20px;
}
#syousai{
  border-bottom-right-radius: 50px;        /* CSS3草案 */
  -webkit-border-radius-bottom-right: 50px;    /* Safari,Google Chrome用 */
  -moz-border-radius-bottom-right: 50px;
  border-bottom-left-radius: 50px;        /* CSS3草案 */
  -webkit-border-radius-bottom-left: 50px;    /* Safari,Google Chrome用 */
  -moz-border-radius-bottom-left: 50px;
  padding-bottom: 30px;
}

td#syosai{
  font-size: 15px;
}

#carri_obi{
  padding-top:20px;
  padding-bottom:20px;
  width: 100%;
  text-align:center;
  background-color:#777;
  z-index: 3;
  font-weight: 900;
  font-family: cursive;
}
#carri_obi p{
  font-size: 30px;
  color:#fff;
}
.carri{
  text-align: center;
  color:#777;
  margin:50px auto;
  height: auto;
  line-height: 30px;
}

.carri table{
  width:auto;
  margin:50px auto;
}
/*
.carri2{
text-align: center;
color:#777;
margin-top: 50px;
margin-bottom:10px;
height:370px;
position:relative;
overflow: hidden;
zoom:1;
}
.carri3{
text-align: center;
color:#777;
margin-top: 50px;
margin-bottom:50px;
height:380px;
position:relative;
overflow: hidden;
zoom:1;
}

.clear{
clear:both;
}
*/

span#dai{
  background-color: #de3348;
  font-size: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
  color: #fff;
  border-radius: 10px;        /* CSS3草案 */
  -webkit-border-radius: 10px;    /* Safari,Google Chrome用 */
  -moz-border-radius: 10px;   /* Firefox用 */
  background-color: #de3340;
  /*
  background: -moz-linear-gradient(top,#de3348 0%,#b22222);
  background: -webkit-gradient(linear, left top, left bottom, from(#de3348), to(#b22222));
  */
}


#article-cari {
  width:700px;
}

#access_obi{
  padding-top:20px;
  padding-bottom:20px;
  width: 100%;
  text-align:center;
  background-color: #333;
  z-index: 3;
  font-weight: 900;
  font-family: cursive;
}
#access_obi p{
  font-size: 30px;
  color:#fff;
}

.access {
  width: 300px;
  height: 400px;
  margin: 20px auto;
}
.access table{
  width: 350px;
}
.ggmap {
  position: relative;
  height: 300px;
  width: 300px;
  overflow: hidden;
}

.ggmap iframe,
.ggmap object,
.ggmap embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#nagare_obi{
  padding-top:20px;
  padding-bottom:20px;
  width: 100%;
  text-align:center;
  background-color: #de3348;
  z-index: 3;
  font-weight: 900;
  font-family: cursive;
}
#nagare_obi p{
  font-size: 30px;
  color:#fff;
}

.nagare{
  margin: 50px auto;
  height: 300px;
}
.lesson_texta{
  margin-bottom: -90px;
}

#yokusitsu_obi{
  padding-top:20px;
  padding-bottom:20px;
  width: 100%;
  text-align:center;
  background-color: #333;
  z-index: 3;
  font-weight: 900;
  font-family: cursive;
}
#yokusitsu_obi p{
  font-size: 30px;
  color:#fff;
}

.yokuaru {
  font-size: 18px;
  text-align: left;
}

.yokuaru p {
  line-height: 150%;
}

#sitsumon{
  margin-top: 10px;
}

#kaito{
  margin-left: 150px;
}

#big-serif {
  font-size:60px;
  font-family: serif;
}

#a{
  margin-top:-240px;
  padding-top:240px;
}
#b {
  margin-top:-240px;
  padding-top:240px;
}
#c {
  margin-top:-240px;
  padding-top:240px;
}
#d {
  margin-top:-240px;
  padding-top:240px;
}
#e {
  margin-top:-240px;
  padding-top:240px;
}
#f{
  margin-top:-240px;
  padding-top:240px;
}
#g {
  margin-top:-240px;
  padding-top:240px;
}
#h {
  margin-top:-240px;
  padding-top:240px;
}
