@font-face {
  font-family: minmoji;
  src: url('https://minmoji.ucda.jp/fontseot/http%3A__spatre.co.jp_');
  src: local('minmoji'),
    url('https://minmoji.ucda.jp/fontswoff/http%3A__spatre.co.jp_') format('woff'),
    url('https://minmoji.ucda.jp/fonts/http%3A__spatre.co.jp_') format('opentype');
}

body {
  font-family: minmoji;
}

html,body{
  margin:0;
  padding:0;
}

a{
  text-decoration:none;
}

li{
  list-style-type:none;
}

.wrapper{
  width:1024px;
  margin:0 auto;
}

.header{
  position: fixed;            /* ヘッダーの固定 */
  top: 0px;                   /* 位置(上0px) */
  left: 0px;                  /* 位置(右0px) */
  width: 100%;                /* 横幅100%　*/
  height:150px;
  z-index:3;
  background:#fff;
}

.header_logo_area{
  float:left;
  height:100px;
}

.header_logo_area img {
  padding-top:10px;
}

.header_nav_area{
  float:right;
  height:150px;
}

.header_link_list a{
  display:inline-block;
  margin-left:20px;
  padding:0 5px;
  color:#555;
  font-size:13px;
  border-bottom:solid 2px #fff;
}

.header_link_list a:hover{
  border-bottom:solid 2px #de3348;
}

a.header_mou_button{
  display:block;
  margin-top:40px;
  background-color: #dd0000;
  /*
  background: -moz-linear-gradient(top,#de3348 0%,#dd0000);
  background: -webkit-gradient(linear, left top, left bottom, from(#de3348), to(#dd0000));
  */
  font-size:15px;
  color:#fff;
  text-align:center;
  padding:15px 20px;
  width:190px;
}

a.header_mou_button:hover{
  background-color:#FF5192;
}

a.header_otoiawase_button{
  display:block;
  margin-top:40px;
  /*
  background: -moz-linear-gradient(top,#59c902 0%,#00821a);
  background: -webkit-gradient(linear, left top, left bottom, from(#59c902), to(#00821a));
  */
  background-color: #00821a;
  font-size:15px;
  color:#fff;
  text-align:center;
  padding:15px 20px;
  width:150px;
  margin-left: 20px;
}

a.header_otoiawase_button:hover{
  background-color:#99cc00;
}

.header-nav{
  clear:both;
  margin-top:10px;
  width:100%;
  background-color:#333;
  height:70px;
}

.header-nav ul{
  display:block;
  margin:0;
  padding:0;
}

.header-nav li{
  display:inline-block;
}

.header-nav a{
  display:block;
  color:#fff;
  padding:26px 10px;
  font-size:16px;
}

.header-nav a:hover{
  background-color:#eee;
  color:#333;
  -moz-box-shadow: inset 1px 1px 3px rgba(000,000,000,0.3);
  -webkit-box-shadow: inset 1px 1px 3px rgba(000,000,000,0.3);
  border-bottom:6px solid #de3348;
}

article{
  clear:both;
  padding-top:150px;
}

footer{
  clear:both;
  background-color:#aaa;
  padding:30px 50px;
}

p#copy{
  color:#555;
  font-size:12px;
}
