@import url(http://fonts.googleapis.com/earlyaccess/notosansjapanese.css);

article{
  padding: 0;
}
#otoiawase_top{
  width: 100%;
  height:90px;
  margin-bottom: 10px;
  background-color: #fff;
}

.header_logo_area{
  margin-right: 300px;
}
.otoiawase_form{
  padding-bottom: 50px;
  padding-top: 30px;
  width: 100%;
    background-color: #ddd;
    font-size: 15px;
    text-align: left;
    padding-left: 200px;
}
